<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Bushel.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>8</integer>
		</dict>
		<key>BushelLanguage.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
		<key>BushelRT.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>BushelScriptEnglish.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>BushelScriptPirate.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>LLVMSwift.xcscheme_^#shared#^_</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>9</integer>
		</dict>
		<key>TestApp.xcscheme_^#shared#^_</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>12</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>3C292B2F22EE937F00B7F8EA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3C292B3E22EE938200B7F8EA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3C35A5BA22C81DE7002D4582</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3C35A5C322C81DE7002D4582</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3C6B756E2305AF3F0006C354</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3C6B75972305B5980006C354</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3CC224AB239207A500448D25</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3CC224BF239207A900448D25</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3CCD8AAE22CC45040049C74F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3CCD8AB622CC45040049C74F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3CCD8AD122CD41970049C74F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3CCD8B7922CD51F30049C74F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
