<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIdentifier</key>
	<string>com.apple.ScriptEditor.id.library.Objects</string>
	<key>CFBundleName</key>
	<string>Objects</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>OSAScriptingDefinition</key>
	<string>Objects.sdef</string>
	<key>WindowState</key>
	<dict>
		<key>bundleDividerCollapsed</key>
		<false/>
		<key>bundlePositionOfDivider</key>
		<real>684</real>
		<key>dividerCollapsed</key>
		<false/>
		<key>eventLogLevel</key>
		<integer>2</integer>
		<key>name</key>
		<string>ScriptWindowState</string>
		<key>positionOfDivider</key>
		<real>800</real>
		<key>savedFrame</key>
		<string>538 34 982 1023 0 0 1920 1057 </string>
		<key>selectedTab</key>
		<string>log</string>
	</dict>
</dict>
</plist>
